{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">An Example Python Flask Application with CodeArts</h1>
    <p class="lead">CodeArts provides enterprises and individuals with Basic Edition and advanced services.</p>
    <p>Title: Start Your CodeArts Journey</p>

    <hr class="my-4">
    <p>Huawei's full-stack self-developed code hosting service provides distributed code management and collaborative development capabilities based on Git, helping enterprises of different scales improve R&D quality and efficiency.</p>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a>
  </div>
{% endblock %}
